.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.idea
logs/*
conf/*
uploads/*
version.properties
/src/main/static/public/version.txt
/src/main/resources/templates/admin/version.vm
*.iws
*.iml
*.ipr
out/

/src/main/resources/templates/main/version.vm
